{% extends "base.html" %}

{% block title %}Login - PRESENCE{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">

    <!-- LEFT GRADIENT PANEL -->
    <div class="left-section">
        <div class="brand">PRESENCE</div>

        <!-- ADDED IMAGE -->
        <img src="{{ url_for('static', filename='css/attendance3.png') }}" class="side-image">

        <p class="small">You can easily</p>

        <h1 class="headline">
            "Secure. Proxy-Free. Instant Attendance."
        </h1>
    </div>

    <!-- RIGHT WHITE PANEL -->
    <div class="right-section">

        <h2>Login</h2>

        <p class="desc">
            Access your dashboard, attendance and academic analytics in one place.
        </p>

        <form method="POST" action="{{ url_for('auth.login') }}">
            
            <label>Your username</label>
            <input type="text" name="roll_number" placeholder="Enter your roll number" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>

            <button class="primary-btn">Login</button>
        </form>

        <div class="divider">or continue with</div>

        

        <p class="bottom-text">
            Dont have an account? <a href="{{ url_for('auth.register') }}">Register</a>
        </p>

    </div>

</div>
{% endblock %}
